<h3>Create Item</h3>

<p>
  <em>Create a new item</em>
</p>

<form action="/create" method="post">
  <input type="text" name="name" placeholder="Name your item">
  <input type="text" name="desc" placeholder="Give it a quantity">
  <input type="submit">Create</input>
</form>
